/* Reset */
* {
    box-sizing: border-box;
}

html, body, div, canvas, h1, h2, h3, h4, h5, h6, p, a, img, ul, ol, li, form, input, button {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
}

/* Font */

/* Styles */
body {
	min-height: 200svh;
}

canvas {
    display: block;
    width: 100%;
    height: 100svh;
	position: fixed;
	top: 0;
	left: 0;
}