/* Reset */
* {
    box-sizing: border-box;
}

html, body, div, canvas, h1, h2, h3, h4, h5, h6, p, a, img, ul, ol, li, form, input, button {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
}

/* Font */
a, #sphereLabels>p {
    color: #777;
    font-family: Arial, sans-serif;
    font-size: 0.8rem;
}

/* Styles */
body {
	min-height: 200svh;
}

canvas {
    display: block;
    width: 100%;
    height: 100svh;
	position: fixed;
	top: 0;
	left: 0;
}

/* Styles - Nav */
nav {
    position: fixed;
    top: 20px;
    right: 40px;
    display: flex;
    gap: 30px;
    z-index: 10;
}
nav a {
    padding: 10px 10px;
    position: relative;
    transition: ease-in-out 0.2s;
}
nav a::after {
    position: absolute;
    content: '';
    right: 0;
    bottom: 0px;
    width: 0%;
    height: 1px;
    background-color: #ccc;
    transition: ease-in-out 0.2s;
}
nav a:hover {
    color: #ccc;
}
nav a:hover::after {
    width: 100%;
    left: 0;
}

/* Styles - Labels */
#sphereLabels {
    position: fixed;
    top: 0px;
    pointer-events: none;
}
#sphereLabels>p {
    font-size: 1rem;
}